* { margin: 0; padding: 0; }

body {
	background: #737E8C;
	color: #ffffff;
	font-size: 20px;
	line-height: 26px;
	padding: 60px 0 0;

	// This is an example of how to use the media-query mixin
	// Styles in this declaration will only show on desktop
	@include media-query(desk) {
		background: #8C7D73;
	}

}

a {
	color: #333333;
	font-weight: bold;
}

p {
	display: block;
	clear: both;
	padding: 60px 15%;
	text-align: center;
}

.code-sample {
	margin: 3%;

	@include media-query(desk) {
		float: left;
		width: 47%;
		margin: 0 1.5%;
	}
}

pre {
	background: #999999;
	font-size: 16px;
	padding: 0 0 0 20px;
}