/* line 1, _global.scss */
* {
  margin: 0;
  padding: 0; }

/* line 3, _global.scss */
body {
  background: #737E8C;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  padding: 60px 0 0; }
  @media only screen and (min-width: 1000px) {
    /* line 3, _global.scss */
    body {
      background: #8C7D73; } }

/* line 18, _global.scss */
a {
  color: #333333;
  font-weight: bold; }

/* line 23, _global.scss */
p {
  display: block;
  clear: both;
  padding: 60px 15%;
  text-align: center; }

/* line 30, _global.scss */
.code-sample {
  margin: 3%; }
  @media only screen and (min-width: 1000px) {
    /* line 30, _global.scss */
    .code-sample {
      float: left;
      width: 47%;
      margin: 0 1.5%; } }

/* line 40, _global.scss */
pre {
  background: #999999;
  font-size: 16px;
  padding: 0 0 0 20px; }
