/* line 1, _global.scss */
body {
  background: #1C1917;
  color: #ffffff;
  font-size: 20px;
  padding: 100px 0 0;
  text-align: center; }
  /* line 8, _global.scss */
  body:before {
    content: "This is the mobile version"; }
  @media only screen and (min-width: 960px) {
    /* line 1, _global.scss */
    body {
      background: #E5193C; }
      /* line 17, _global.scss */
      body:before {
        content: "This is the desktop version"; } }

/* line 24, _global.scss */
p {
  padding-top: 60px; }

/* line 28, _global.scss */
a {
  color: #E5193C;
  font-weight: bold; }
  @media only screen and (min-width: 960px) {
    /* line 28, _global.scss */
    a {
      color: #1C1917; } }
